build/*
!build/release
node_modules/*


# Junk Files:
logs
*.log

.DS_Store*
.AppleDouble
.LSOverride
Icon
.grunt
._.*
.Spotlight-V100
.Trashes*
__MACOSX

Thumbs.db
ehthumbs.db
Desktop.ini

*~
pids
*.pid
*.seed
.lock-wscript
